# env properties
access_key=IAM ACCESS KEY
secret_access_key=IAM SECRET ACCESS KEY
default_bucket_name=DEFAULT BUCKET NAME

# mail
mailhost=smtp.host
username=smtp-username
password=smtp-psass
from=default@email.com